<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>J2E2023AdvanceJava</display-name>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CalcServlet</servlet-name>
    <servlet-class>com.controller.CalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcServlet</servlet-name>
    <url-pattern>/CalcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AddProductFilter</filter-name>
    <filter-class>com.filter.AddProductFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddProductFilter</filter-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PriceFilter</filter-name>
    <filter-class>com.filter.PriceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PriceFilter</filter-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCookieServlet</display-name>
    <servlet-name>DeleteCookieServlet</servlet-name>
    <servlet-class>com.controller.DeleteCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCookieServlet</servlet-name>
    <url-pattern>/DeleteCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSessionServlet</display-name>
    <servlet-name>AddSessionServlet</servlet-name>
    <servlet-class>com.controller.AddSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSessionServlet</servlet-name>
    <url-pattern>/AddSessionServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.listener.UserCountListener</listener-class>
  </listener>
  <filter>
    <filter-name>LogInFilter</filter-name>
    <filter-class>com.filter.LogInFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogInFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  
  
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.controller.AdminLoginServlet</servlet-class>
    <init-param>
    	<param-name>email</param-name>
    	<param-value>admin@mysite.com</param-value>
    </init-param>
    <init-param>
    	<param-name>password</param-name>
    	<param-value>system</param-value>
    </init-param>
  </servlet> 
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
  	<param-name>globalEmail</param-name>
   	<param-value>gAdmin@mysite.com</param-value>
  </context-param>
  
   <context-param>
  	<param-name>globalPassword</param-name>
   	<param-value>gSystem</param-value>
  </context-param>
  
</web-app>